@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Freehand&display=swap');


body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fac9e7;
    overflow: hidden;
    /* Prevents scrolling due to floating hearts */
    position: relative;
    /* For absolute positioning of the No button */
    cursor: url("./img/ghost.png"), auto;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    text-align: center;
    padding: 20px;
}

.hehebear {
    width: 120px;
    height: auto;
}

.chipi-chipi-chapa-chapa-chipi-gif {
    width: 200px;
    height: auto;
}

.container {
    width: 100%;
    max-width: 600px;
    max-height: 700px;
    /* Adjust based on your needs */
    background-color: #ffecef;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    position: relative;
    /* Ensures it's above the hearts */
    z-index: 2;
    /* Higher than the hearts */

    overflow-y: auto;
    scrollbar-width: none;

}

.heart-gif {
    height: 40px;
    width: auto;
}


.title {
    color: #d10069;
    font-family: "Freehand", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.75rem;
    /* Ensures the content is not revealed until the animation */
    overflow: hidden;
    /* Keeps the content on a single line */
    white-space: nowrap;
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: 1px;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(40, end),
        blink-caret .85s step-end infinite;
}

p {
    font-size: 1.5rem;
    font-family: "Alkatra", system-ui;
    font-optical-sizing: auto;
}

::selection {
    background: #d10069;
    color: #ffffff;
}

.response-buttons button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff66b3;
    color: white;
    font-size: 22px;
    transition: background-color 0.3s ease;
    /* For dynamic positioning */
    position: relative;
    cursor: url("./img/pointer.png"), auto;
}

.main {
    background: url("./img/petals-falling.gif"), #fac9e7;
    background-size: 35%;
    color: var(--pink);
    font-family: "Happy Font";
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.response-buttons button:hover {
    background-color: #cc0052;
}

.heart {
    position: absolute;
    width: 100px;
    height: 90px;
    transform: rotate(-45deg);
    animation: float 5s ease-in-out infinite;
    z-index: 2;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100px;
    height: 45px;
    border-radius: 50px 50px 0 0;
}

.heart::before {
    left: 50px;
}

.heart::after {
    left: -50px;
}

#countdown {
    font-family: "Alkatra", cursive;
    font-size: 30px;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0) rotate(-45deg);
    }

    50% {
        transform: translateY(-50px) rotate(-90deg);
    }
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #d10069;
    }
}

#heart1,
#heart6,
#heart8 {
    animation-delay: 0s
}

#heart2,
#heart7,
#heart11 {
    animation-delay: 2s
}

#heart3,
#heart9,
#heart13 {
    animation-delay: 1.5s
}

#heart5,
#heart12,
#heart14 {
    animation-delay: 1s
}

/* Adjust positions and delays for additional hearts as needed */